body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 30px;
	background-color: #FFF;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

h1 {
	text-align: center;
	font-size: 2.5em;
	color: #222;
	margin-bottom: 30px;
}

.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

input[type="text"] {
	flex-grow: 1;
	margin-right: 10px;
	padding: 10px;
	font-size: 1.2em;
	border: none;
	background-color: #F2F2F2;
	color: #444;
	border-radius: 3px;
}

button {
	padding: 10px 15px;
	font-size: 1.2em;
	background-color: #58B2DC;
	color: #FFF;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

button:hover {
	background-color: #449ED1;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	font-size: 1.4em;
}

li input[type="checkbox"] {
	margin-right: 20px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

li input[type="checkbox"] + label {
	flex-grow: 1;
	color: #444;
	text-decoration: none;
	cursor: pointer;
}

li input[type="checkbox"]:checked + label {
	text-decoration: line-through;
	color: #999;
}

li .delete-todo-btn {
	padding: 6px;
	background-color: transparent;
	color: #999;
	border: none;
	cursor: pointer;
	transition: color 0.2s ease;
}

li .delete-todo-btn:hover {
	color: #E74C3C;
}

li .delete-todo-btn::before {
	content: '\f00d';
	font-family: FontAwesome;
	font-size: 1.2em;
	margin-right: 5px;
}
